@font-face {
    font-family: 'Liberation Mono';
    src: url('@assets/fonts/LIBERATIONMONO/LiberationMono-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Liberation Mono Medium';
    src: url('@assets/fonts/LIBERATIONMONO/LiberationMono-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Liberation Mono Bold';
    src: url('@assets/fonts/LIBERATIONMONO/LiberationMono-Bold.ttf');
    font-weight: 600;
}